html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  background-attachment: fixed;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}
