// header
.download,
.upload {
  width: 65px;
  height: 45px;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.download {
  background-color: #49cc49;
  &:hover {
    background-color: #fff;
    color: #49cc49;
  }
}

.upload {
  margin-left: 5px;
  background-color: #ff6f47;
  &:hover {
    background-color: #fff;
    color: #ff6f47;
  }
}

.gold-container {
  margin-left: 15px;
  font-size: 1.5rem;
  .gold-icon {
    color: #ffff00;
  }
}

// main
section {
  width: 90%;
  min-height: 400px;
  margin-bottom: 50px;
  h2 {
    margin: 0;
  }
  div {
    width: 100%;
    height: 100%;
    background-color: #0000001f;
    input {
      width: 100%;
      height: 45px;
      padding: 0 10px 0 10px;
      border: none;
      font-size: 1.5rem;
      background-color: #ffffff5f;
      color: 202020;
      &::placeholder {
        color: #202020;
      }
      &:focus {
        outline: none;
        background-color: #ffffffff;
      }
    }
  }
}
